/*
0 - 600px:      Phone
600 - 900px:    Tablet/Portrait
900 - 1200px:   Tablet/Landscape
1200 - 1800px:  Desktop
1800px +:       Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- bg-desk

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes appearLogo {
  0% {
    opacity: 0;
    transform: translate(0); }
  50% {
    opacity: .5;
    transform: translate(0); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Courgette', cursive;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 2rem;
  color: white; }

.heading-primary {
  color: white; }
  .heading-primary--main {
    text-transform: none;
    /* text-shadow: -1px 0 rgb(121, 121, 121), 0 1px rgb(121, 121, 121), 1px 0 rgb(121, 121, 121), 0 -1px rgb(121, 121, 121); */
    text-align: center;
    display: block;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    text-transform: uppercase;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s; }
  .heading-primary--sub-1 {
    font-family: 'Lato', sans-serif;
    /* text-shadow: -1px 0 rgb(121, 121, 121), 0 1px rgb(121, 121, 121), 1px 0 rgb(121, 121, 121), 0 -1px rgb(121, 121, 121); */
    text-transform: uppercase;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1rem;
    text-align: justify;
    animation-name: moveInLeft;
    animation-duration: 2s; }
  .heading-primary--sub-2 {
    text-transform: uppercase;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem; }
  .heading-primary--sub-3 {
    font-family: 'Lato', sans-serif;
    /* text-shadow: -1px 0 rgb(121, 121, 121), 0 1px rgb(121, 121, 121), 1px 0 rgb(121, 121, 121), 0 -1px rgb(121, 121, 121); */
    text-transform: uppercase;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1rem;
    text-align: justify;
    animation-name: moveInLeft;
    animation-duration: 2s; }

.btn:link, .btn:visited {
  padding: 1rem 7.8rem;
  display: inline-block;
  font-size: 7rem;
  /* width: 30px; */
  /* text-align: center; */
  text-decoration: none;
  margin: .5rem .2rem;
  border-radius: 20%;
  animation-name: moveInBottom;
  animation-duration: 2s;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, .2); */ }

.btn:active {
  transform: translateY(-0.1rem);
  /* box-shadow: 0 15px 10px rgba(0, 0, 0, .2); */ }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(247, 171, 203, 0.7), rgba(254, 247, 192, 0.1), rgba(249, 62, 185, 0.8)), url(../img/unsplash-medium.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    animation-name: appearLogo;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify; }
