/*
0 - 600px:      Phone
600 - 900px:    Tablet/Portrait
900 - 1200px:   Tablet/Landscape
1200 - 1800px:  Desktop
1800px +:       Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- bg-desk

Orden:
Base
Typography
general layout
grid
page layouts
components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media (max-width: 43.75em) {
    html {
      font-size: 43.75%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 62.5em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes appearLogo {
  0% {
    opacity: 0;
    transform: translate(0); }
  50% {
    opacity: .5;
    transform: translate(0); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Courgette', cursive;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: white; }
  @media (max-width: 37.5em) {
    body {
      font-size: .3rem; } }

.heading-primary {
  color: white; }
  .heading-primary--main {
    text-transform: none;
    text-align: center;
    display: block;
    font-size: 12rem;
    font-weight: 600;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 4.5rem; } }
    @media (max-width: 43.75em) {
      .heading-primary--main {
        letter-spacing: .5rem;
        font-size: 6.5rem; } }
  .heading-primary--sub {
    font-family: 'Lato', sans-serif;
    /* text-shadow: -1px 0 rgb(121, 121, 121), 0 1px rgb(121, 121, 121), 1px 0 rgb(121, 121, 121), 0 -1px rgb(121, 121, 121); */
    text-transform: uppercase;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1rem;
    text-align: justify;
    animation-name: moveInLeft;
    animation-duration: 2s; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem;
        font-size: 1rem; } }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        letter-spacing: .5rem;
        font-size: 1.8rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #ab9ac9, #472289);
  -webkit-background-clip: text;
  color: transparent; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ab9ac9; }

.paragraph {
  color: #472289;
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 0.5rem; }

.footer {
  font-size: 1.4rem; }
  @media (max-width: 37.5em) {
    .footer {
      font-size: .3rem; } }

.u-left-text {
  text-align: left; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 1rem; }

.u-margin-bottom-small {
  margin-bottom: 0.5rem; }

.u-social {
  font-size: 7rem; }

.btn {
  text-decoration: none; }
  .btn:link, .btn:visited {
    padding: 1rem 7.5rem;
    display: inline-block;
    /* width: 30px; */
    /* text-align: center; */
    text-decoration: none;
    color: #472289;
    margin: .5rem .2rem;
    border-radius: 10rem;
    animation-name: moveInBottom;
    animation-duration: 2s;
    transition: all .2s; }
    @media (max-width: 56.25em) {
      .btn:link, .btn:visited {
        padding: 0 6.5rem;
        font-size: 4rem;
        margin: 2rem 1.2rem 0 .5rem; } }
    @media (max-width: 75em) {
      .btn:link, .btn:visited {
        padding: 1rem 1.8rem;
        font-size: 9rem;
        margin: 2rem 1.2rem 0 .5rem; } }
    @media (max-width: 37.5em) {
      .btn:link, .btn:visited {
        padding: 0 1.5rem;
        font-size: 5rem;
        margin: 3rem .2rem 2.2rem 0; } }
    @media (max-width: 43.75em) {
      .btn:link, .btn:visited {
        padding: 0 .8rem;
        font-size: 4rem;
        margin: 3rem .2rem 2.2rem 0; } }
  .btn--white {
    background-color: white;
    color: #777;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .btn--white::after {
      background-color: white; }
  .btn:hover {
    transform: translateY(-0.3rem); }
  .btn:active {
    transform: translateY(-0.1rem);
    color: #472289;
    /* box-shadow: 0 15px 10px rgba(0, 0, 0, .2); */ }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    background-color: aquamarine;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2988ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/562387-unsplash-small.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../img/562387-unsplash-small.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2988ff, #5643fa), url(../../img/562387-unsplash-small.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 60%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 136, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 1rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: white; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo:hover {
      outline: 1rem double #73dcc3;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  color: #ab9ac9;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #ab9ac9, #472289);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(247, 171, 203, 0.9), rgba(254, 247, 192, 0.3), rgba(249, 62, 185, 0.9)), url(../img/562387-unsplash-medium.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @media (max-width: 37.5em) {
    .header {
      background-image: linear-gradient(to right, rgba(247, 171, 203, 0.9), rgba(254, 247, 192, 0.3), rgba(249, 62, 185, 0.9)), url(../img/562387-unsplash-small.jpg); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    animation-name: appearLogo;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .header__logo-box {
        position: absolute;
        transform: translate(57%, 20%); } }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify; }
  .header__buttons {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #f7ccde;
  padding: 3rem 0; }
  @media (max-width: 37.5em) {
    .footer {
      padding: 1rem 0rem 1.2rem; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 1rem; }
  .footer__logo {
    width: 10rem;
    height: 10rem; }
  .footer__link:link, .footer__link:visited {
    color: #472289;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: #472289; }
  .footer__copyright {
    color: #472289;
    border-top: 1px solid #472289;
    width: 40%;
    float: right; }
    @media (max-width: 37.5em) {
      .footer__copyright {
        width: 60%; } }

.section-about {
  background-color: #fcecf3;
  padding: 10rem;
  margin-top: -5vh; }

.section-features {
  padding: 15rem 0;
  background-image: linear-gradient(to right, rgba(247, 171, 203, 0.9), rgba(254, 247, 192, 0.3), rgba(249, 62, 185, 0.9)), url(../img/unsplash-medium.jpg);
  transform: skewY(-3deg);
  margin-top: -4rem; }
  .section-features > * {
    transform: skewY(3deg); }

.section-talleres {
  background-color: #fcecf3;
  padding: 10rem 0 50rem 0;
  margin-top: -4rem; }
