//Color palette
$color-white: rgb(255, 255, 255);
$color-pearl: #73dcc3;
$color-pearl-light: #bfefe3;
$color-pearl-dark: #4a8c7d;
$color-strawberry: #f245b9;
$color-strawberry-light: #fabbe5;
$color-strawberry-dark: #6e2055;
$color-maya-blue: #7cc6fe;
$color-maya-blue-light: #c3e5fe;
$color-maya-blue-dark: #395a74;
$color-purple: #472289;
$color-purple-light: #ab9ac9;
$color-purple-light-1: #ddd6e9;
$color-purple-dark: #07040d;
$color-pale-yellow: #fef7c0;
$color-pale-yellow-light: #fefbe2;
$color-yallow-dark: #d0cb9e;
$color-classic-rose: #f7ccde;
$color-classic-rose-light: #fcecf3;

$color-black: #000000;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2988ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//Font
$default-font-size: 1.6rem;
$footer-font-size: 1.4rem;

//grid
$grid-width: 114rem;
$grid-width-iphone5: 70rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem; 
$gutter-horizontal-iphone5: 3rem;