.btn {
    text-decoration: none;

    // @include respond(phone) {
    //     font-size: 3rem;
    //     padding: 0 4.8rem;
    //     margin: 3rem .2rem 2.2rem 0;
    // }
    &,
    &:link,
    &:visited {
        padding: 1rem 7.5rem;
        display: inline-block;
        // font-size: 7rem;
        /* width: 30px; */
        /* text-align: center; */
        text-decoration: none;
        color: $color-purple;
        margin: .5rem .2rem;
        border-radius: 10rem;
        animation-name: moveInBottom;
        animation-duration: 2s;
        transition: all .2s;

        //Change for the button element
        border: none;
        cursor: pointer;

        @include respond(tab-port) {
            padding: 0 6.5rem;
            font-size: 4rem;
            margin: 2rem 1.2rem 0 .5rem;
        }

        @include respond(tab-land) {
            padding: 1rem 1.8rem;
            font-size: 9rem;
            margin: 2rem 1.2rem 0 .5rem;
        }

        @include respond(phone) {
            padding: 0 1.5rem;
            font-size: 5rem;
            margin: 3rem .2rem 2.2rem 0;
        }

        @include respond(iphone5) {
            padding: 0 .8rem;
            font-size: 4rem;
            margin: 3rem .2rem 2.2rem 0;
        }


      }

      &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

        &::after {
            background-color: $color-white;
        }

    }

    &--purple {
        background-color: $color-purple-light;
        color: $color-grey-dark;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

        &::after {
            background-color: $color-purple-light;
        }
    }
    
      &:hover {
          transform: translateY(-.3rem);
          
      }
    
      &:active,
      &:focus {
          outline: none;
          transform: translateY(-.1rem);
          color: $color-purple;
          /* box-shadow: 0 15px 10px rgba(0, 0, 0, .2); */
      }

      
   
}//