body {
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-white; //Cambiar a blanco para la landing page

    @include respond(phone) {
        font-size: .3rem;
    }
}

.heading-primary {
    color: $color-white;

    &--main {
        text-transform: none;
        // text-shadow: -1px 0 rgb(121, 121, 121), 0 1px rgb(121, 121, 121), 1px 0 rgb(121, 121, 121), 0 -1px rgb(121, 121, 121);
        text-align: center;
        display: block;
        font-size: 12rem;
        font-weight: 600;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;


        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 4.5rem;
        }

        @include respond(iphone5) {
            letter-spacing: .5rem;
            font-size: 6.5rem;
        }

        // @include respond(ipadpro) {
        //     letter-spacing: 1rem;
        //     font-size: 12rem;
        // }
        
        
    }
    
    &--sub {
        font-family: 'Lato', sans-serif;
        /* text-shadow: -1px 0 rgb(121, 121, 121), 0 1px rgb(121, 121, 121), 1px 0 rgb(121, 121, 121), 0 -1px rgb(121, 121, 121); */
        text-transform: uppercase;
        display: block;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1rem;
        text-align: justify;
        animation-name: moveInLeft;
        animation-duration: 2s;

        @include respond(phone) {
            letter-spacing: .5rem;
            font-size: 1rem;
        }

        @include respond(tab-port) {
            letter-spacing: .5rem;
            font-size: 1.8rem;
        }

    }

}

.paragraph {
    color: $color-purple;
}

.footer {
    font-size: 1.4rem;

    @include respond(phone) {
        font-size: .3rem;
    }
}