.u-left-text { text-align: left;}
.u-center-text { text-align: center;}
.u-margin-bottom-big { margin-bottom: 1rem;}
.u-margin-bottom-small { margin-bottom: 0.5rem;}
.u-social { font-size: 7rem; }