.u-left-text { text-align: left !important;}
.u-center-text { text-align: center !important;}
.u-margin-bottom-big { margin-bottom: 1rem !important;}
.u-margin-bottom-medium { margin-bottom: 0.75rem !important;}
.u-margin-bottom-small { margin-bottom: 0.5rem !important;}
.u-social { font-size: 7rem; }